@page
@model SoccerGame.Pages.AboutModel

@{
    ViewData["Title"] = "Player Body Statistics";
}

<h2>Player Body Statistics</h2>

<table>
    <tr>
        <th>
            Enrollment Date
        </th>
        <th>
            Players
        </th>
    </tr>

    @foreach (var item in Model.Players)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @item.PlayerCount
            </td>
        </tr>
    }
</table>